html, body {
    height: 100%;
    width: 980px;
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png);
}
    .container {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-sizing: content-box;  
    width: 100%;
    height: auto;
    margin: 60px;
    padding: 40px;  
    border: 5px solid #dddddd; 
  }
  .navbar-brand {
    background-color: #4aaaa5;
  }
  .h1{
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #4aaaa5;
  }
  .btn-primary, .btn-primary:hover{
    
    background-color: #4aaaa5;
  }
  
 .footer {
   color: #ffffff;
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   align-content: center;
   border-top: #4aaaa5 8px solid;
   background-color: #666666;
   
 }
  
 